h1 {
    text-align: center;
    font-size: 1em;
    color: #009;
    margin-bottom: .3em;
    text-decoration: underline;
}
  
blockquote {
    padding-left: .5em;
    padding-right: .5em;
    border: 1px solid #900;
    background-color: #ffc;
  }
  p {
    padding-left: .5em;
    padding-right: .5em;
    border: 1px solid #900;
    background-color: #ffc;
  }